# Environments & Virtual Envs
.venv/
env/
venv/
ENV/
.env

# Python/System leftovers
__pycache__/
*.pyc
.DS_Store
.vscode/

# Data & Models
*.csv
data/
# model.pkl  <-- Uncomment this if you want to hide models from GitHub

# Web Development
node_modules/
**/node_modules/